/* ==========================================================================
   Base styles
   ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

img {
  height: auto;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}
